{% extends 'core/base.html' %} 
{% load static %} 
{% block title %}Blog{% endblock %} 

{% block content %}
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-innerv text-center rounded">
                    <h2 class="section-heading mb-5">
                        <span class="section-heading-upper"></span>
                        <span class="section-heading-lower">Gracias por tu donación </span>
                    </h2>
                    <p class="mb-0">
                        <img class="mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static 'core/img/abuelos-gimnasia.jpg' %}" alt="">
                    </p>
                    <p class="mb-0 mbt">
                        Tu donación es muy importante para nosotros, forma parte de una gran cadena de aportes que ayuda a mejorar la calidad de vidas de muchos adultos mayores de nuestro país. 
                        Te invitamos a seguir siendo participe dentro de esta gran obra, cumpliendo sueños, metas y generando un cambio en nuestra forma de ver la vida y la de quienes nos rodean.
                    </p>

                    <div class="intro-button mx-auto mt-3">
                        <a class="btn btn-danger btn-lg btn-block" href="{% url 'services' %}">¿En que nos ayuda tu donación?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}